<html>
  <head>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>

  <body>
    <div id="root"></div>
    <script type="application/javascript">
      window.capuccinoBase = "{{ capuccinoBase }}";
      window.env = "{{ env }}";
    </script>
    <script
      type="module"
      src="{{ capuccinoBase }}/bundle/index.js"
    ></script>
  </body>
</html>
